In [1]:
import mysql.connector as connector

In [2]:
# 1 - Make a connection with MySQL:

try:

    connection = connector.connect(
        user = 'root',
        password = '******')

    print('Connected...')

except connector.Error as err: # If any error occurs, print the error code and the message

    print('Error code: ', err.errno)
    print('Error message: ', err.msg)

Connected...

In [3]:
# 2 - Create a Cursor:

if connection.is_connected():
    cursor = connection.cursor()
    print('Cursor ready...')
else:
    print('It was not possible to create cursor as connection was not previously established...')

Cursor ready...

In [4]:
# 3 - Create database meta_py_to_mysql:

cursor.execute("""DROP DATABASE IF EXISTS meta_py_to_mysql""")

create_database_query = """CREATE DATABASE meta_py_to_mysql""" # Make a query to create a new database.
cursor.execute(create_database_query) # execute the create database query using the cursor to pass the 'create_database_query'

cursor.execute("SHOW DATABASES") # list all databases
for database in cursor:
    print(database)

('brin',)
('comercio',)
('information_schema',)
('lucky_shrub_my2',)
('meta_automobile',)
('meta_jewelrystore_db1',)
('meta_little_lemon',)
('meta_littlelemon_db2',)
('meta_lucky_shrub',)
('meta_lucky_shrub_my',)
('meta_lucky_shrub_my2',)
('meta_lucky_shrub_my3',)
('meta_lucky_shrub_my4',)
('meta_luckyshrub_db2',)
('meta_luckyshrub_db3',)
('meta_luckyshrub_db4',)
('meta_mangata_gallo',)
('meta_normalization',)
('meta_py_to_mysql',)
('meta_restaurant',)
('mydb',)
('mysql',)
('performance_schema',)
('puc_projeto',)
('sakila',)
('sys',)
('teste',)
('teste2',)
('world',)

In [5]:
# 4 - Use the created database:

use_database_query = "USE meta_py_to_mysql"
cursor.execute(use_database_query)

connection.database # confirm the name of the database in use

'meta_py_to_mysql'

In [6]:
# 5.1 - Create table menu_items:

cursor.execute("""DROP TABLE IF EXISTS menu_items""")

create_menuitem_table="""
CREATE TABLE menu_items(
itemID INT AUTO_INCREMENT,
name VARCHAR(200),
type VARCHAR(100),
price INT,
PRIMARY KEY(itemID)
)
"""

cursor.execute(create_menuitem_table)

cursor.execute('SHOW TABLES') # check all tables in database
for table in cursor:
    print(table)

('menu_items',)

In [7]:
# 5.2 - Create table menus:

cursor.execute("""DROP TABLE IF EXISTS menus""")

create_menu_table = """
CREATE TABLE menus (
menuID INT,
itemID INT,
cuisine VARCHAR(100),
PRIMARY KEY (menuID),
FOREIGN KEY (itemID) REFERENCES menu_items(itemID)
);"""

cursor.execute(create_menu_table)

cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('menu_items',)
('menus',)

In [8]:
# 5.3 - Create table bookings:

cursor.execute("""DROP TABLE IF EXISTS bookings""")

create_booking_table = """
CREATE TABLE bookings (
bookingID INT AUTO_INCREMENT,
tableNo INT,
guestFirstName VARCHAR(100) NOT NULL,
guestLastName VARCHAR(100) NOT NULL,
bookingSlot TIME NOT NULL,
employeeID INT,
PRIMARY KEY (bookingID)
);"""

cursor.execute(create_booking_table)

cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('bookings',)
('menu_items',)
('menus',)

In [9]:
# 5.4 - Create table orders:

cursor.execute("""DROP TABLE IF EXISTS orders""")

create_orders_table = """
CREATE TABLE orders (
orderID INT,
tableNo INT,
menuID INT,
bookingID INT,
billAmount INT,
quantity INT,
PRIMARY KEY (orderID),
FOREIGN KEY (menuID) REFERENCES menus(menuID)
);"""

cursor.execute(create_orders_table)

cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('bookings',)
('menu_items',)
('menus',)
('orders',)

In [10]:
# 5.5 close the connection:

if connection.is_connected():
    cursor.close()
    connection.close()
    print('connection closed.')
else:
    print('connection is already closed.')

connection closed.