In [1]:
from SanStore import Produtos, Pedidos, Clientes
import pandas as pd

In [2]:
# Produtos:
p1 = Produtos(nome= 'Iphone 10', preco=4500,quantidade=40,aviso_de_quantidade=20)
p2 = Produtos(nome= 'Camiseta do Brasil', preco=50,quantidade=10,aviso_de_quantidade=5)
p3 = Produtos(nome= 'Televisão LED de 55', preco=5000,quantidade=20,aviso_de_quantidade=5)
p4 = Produtos(nome= 'Liquidificador', preco=200,quantidade=50,aviso_de_quantidade=10)
p5 = Produtos(nome= 'Torradeira', preco=100,quantidade=40,aviso_de_quantidade=15)
p6 = Produtos(nome= 'Máquina de Café', preco=250,quantidade=30,aviso_de_quantidade=3)
p7 = Produtos(nome= 'Panelas', preco=50,quantidade=35,aviso_de_quantidade=7)

(RETORNO) Produto (Iphone 10) criado com sucesso.
(RETORNO) Produto (Camiseta do Brasil) criado com sucesso.
(RETORNO) Produto (Televisão LED de 55) criado com sucesso.
(RETORNO) Produto (Liquidificador) criado com sucesso.
(RETORNO) Produto (Torradeira) criado com sucesso.
(RETORNO) Produto (Máquina de Café) criado com sucesso.
(RETORNO) Produto (Panelas) criado com sucesso.

In [3]:
print(Produtos.__dict__['list_produtos_obj'])

[<SanStore.Produtos object at 0x00000228F90DDC10>, <SanStore.Produtos object at 0x00000228F90DDBB0>, <SanStore.Produtos object at 0x00000228F90DDC40>, <SanStore.Produtos object at 0x00000228F90DDBE0>, <SanStore.Produtos object at 0x00000228F90DDE50>, <SanStore.Produtos object at 0x00000228F90DDEB0>, <SanStore.Produtos object at 0x00000228F6D68670>]

In [4]:
Produtos.ListOfDicts_produtos()

[{'nome': 'Iphone 10',
  'quantidade': 40,
  'preco': 4500,
  'aviso_de_quantidade': 20},
 {'nome': 'Camiseta do Brasil',
  'quantidade': 10,
  'preco': 50,
  'aviso_de_quantidade': 5},
 {'nome': 'Televisão LED de 55',
  'quantidade': 20,
  'preco': 5000,
  'aviso_de_quantidade': 5},
 {'nome': 'Liquidificador',
  'quantidade': 50,
  'preco': 200,
  'aviso_de_quantidade': 10},
 {'nome': 'Torradeira',
  'quantidade': 40,
  'preco': 100,
  'aviso_de_quantidade': 15},
 {'nome': 'Máquina de Café',
  'quantidade': 30,
  'preco': 250,
  'aviso_de_quantidade': 3},
 {'nome': 'Panelas', 'quantidade': 35, 'preco': 50, 'aviso_de_quantidade': 7}]

In [5]:
Produtos.dataframe_produtos()

                  nome  quantidade  preco  aviso_de_quantidade
0            Iphone 10          40   4500                   20
1   Camiseta do Brasil          10     50                    5
2  Televisão LED de 55          20   5000                    5
3       Liquidificador          50    200                   10
4           Torradeira          40    100                   15
5      Máquina de Café          30    250                    3
6              Panelas          35     50                    7

In [6]:
p2.adicionar_quantidade(10) # add 10 und - camisetas do Brasil
p3.remover_quantidade(5) # remove 5 und - Televisão LED de 55	
p1.deletar_produto() # del - Iphone 10
Produtos.dataframe_produtos()

(RETORNO) 10 unidades adicinadas ao produto: Camiseta do Brasil. Estoque final: 20 unidades.
(RETORNO) 5 unidades removidas do produto: Televisão LED de 55. Estoque final: 15 unidades
(RETORNO) Produto (Iphone 10) deletado.

                  nome  quantidade  preco  aviso_de_quantidade
0   Camiseta do Brasil          20     50                    5
1  Televisão LED de 55          15   5000                    5
2       Liquidificador          50    200                   10
3           Torradeira          40    100                   15
4      Máquina de Café          30    250                    3
5              Panelas          35     50                    7

In [7]:
# Atualizar Camiseta do brasil:
p2.atualizar_preco(65)
p2.atualizar_aviso(15)
p3.aplicar_desconto(15) # aplicar desconto de 15%
Produtos.dataframe_produtos()

(RETORNO) Camiseta do Brasil: preço modificado de R$ 50 para R$ 65
(RETORNO) Camiseta do Brasil: aviso de estoque baixo modificado de 5 para o 15 com sucesso.
(RETORNO) Televisão LED de 55: desconto de 15% aplicado ->  Valor com desconto aplicado: R$ 4250.0.

                  nome  quantidade   preco  aviso_de_quantidade
0   Camiseta do Brasil          20    65.0                   15
1  Televisão LED de 55          15  4250.0                    5
2       Liquidificador          50   200.0                   10
3           Torradeira          40   100.0                   15
4      Máquina de Café          30   250.0                    3
5              Panelas          35    50.0                    7

In [8]:
Produtos.csv_produtos()

'nome;quantidade;preco;aviso_de_quantidade\r\nCamiseta do Brasil;20;65.0;15\r\nTelevisão LED de 55;15;4250.0;5\r\nLiquidificador;50;200.0;10\r\nTorradeira;40;100.0;15\r\nMáquina de Café;30;250.0;3\r\nPanelas;35;50.0;7\r\n'

In [9]:
# Clientes:
c1 = Clientes('Robson', 25, '098.875.522-54')
c2 = Clientes('Jarbas', 35, '097.775.582-54')
c3 = Clientes('Pedro', 27, '09777558254')
c4 = Clientes('Bob', 29, '448588752-54')
c5 = Clientes('Nelson', 58, '098.698.662-54')

# perceba que o variável que recebe o cpf o modifica para que se adeque ao que foi pedido.

Cliente (Robson) criado com sucesso.
Cliente (Jarbas) criado com sucesso.
Cliente (Pedro) criado com sucesso.
Cliente (Bob) criado com sucesso.
Cliente (Nelson) criado com sucesso.

In [10]:
Clientes.dataframe_clientes()

     nome  idade         _cpf
0  Robson     25  09887552254
1  Jarbas     35  09777558254
2   Pedro     27  09777558254
3     Bob     29  44858875254
4  Nelson     58  09869866254

In [11]:
# Remover cliente:
c1.remover_cliente() # Remover o 'Robson'
Clientes.dataframe_clientes()

     nome  idade         _cpf
0  Jarbas     35  09777558254
1   Pedro     27  09777558254
2     Bob     29  44858875254
3  Nelson     58  09869866254

In [12]:
# __eq__ : - Quais as colunas que deverão ser comparadas para definir a igualdade?

print(c2 == c3) # O cpf cadastrado em c3 é igual ao cpf em c2
print(c2.__eq__(c3), '\n')

# Nesse caso a função print é equivalente a self.__eq___(other):

print(c3 == c4)
print(c3.__eq__(c4))

True
True

False
False

In [13]:
pe1 = Pedidos(5, p2,c2)
print('\n')
pe2 = Pedidos(7, p3,c3)

(AVISO) Camiseta do Brasil com o estoque baixo (15). Fazer pedido para renovar o estoque
(RETORNO) 5 unidades removidas do produto: Camiseta do Brasil. Estoque final: 15 unidades
(RETORNO) Pedido realizado.


(RETORNO) 7 unidades removidas do produto: Televisão LED de 55. Estoque final: 8 unidades
(RETORNO) Pedido realizado.

In [14]:
Pedidos.dataframe_pedidos()

,dataHora,Cliente,nomeCliente,Produto,nomeProduto,quantidade,total
0,2022-11-29 12:21:37,<SanStore.Clientes object at 0x00000228F9137460>,Jarbas,<SanStore.Produtos object at 0x00000228F90DDBB0>,Camiseta do Brasil,5,325.0
1,2022-11-29 12:21:37,<SanStore.Clientes object at 0x00000228F9145AF0>,Pedro,<SanStore.Produtos object at 0x00000228F90DDC40>,Televisão LED de 55,7,29750.0