In [17]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error
import mysql.connector as connector
import pandas as pd

In [18]:
# Creating a connection pool:

dbconfig = {
    "database" : "meta_py_to_mysql", 
    "user" : "root",
    "password" : "******"
}

try:
    pool = MySQLConnectionPool(
    pool_name= 'meta_py_to_mysql_pool',
    pool_size=3, # the default value is 5
    **dbconfig
    )
    print('The connection pool is created with a name: ', pool.pool_name)
    print('The pool size is: ', pool.pool_size)
    
except Error as err:
    print('Error code: ', err.errno)
    print('Error message: ', err.msg)

The connection pool is created with a name:  meta_py_to_mysql_pool
The pool size is:  3

In [19]:
# Get the connection from the connection pool "pool"

print("Getting a connection from the pool.")
connection1 = pool.get_connection()

Getting a connection from the pool.

In [20]:
# Get the ID of the user connection in the pool:

print(f"A user with connection id {connection1.connection_id} is connected to the database.")

A user with connection id 43 is connected to the database.

In [21]:
# Get the info about the database server:

db_Info = connection1.get_server_info()
print("MySQL server version is:", db_Info)

MySQL server version is: 8.0.28

In [22]:
# Create a cursor using the connection1 trought the pool:

print("Creating a cursor object.")
cursor = connection1.cursor()

Creating a cursor object.

In [25]:
# Input a query and create a dataframe with the results to see the upcoming bookings:

sql_query = "SELECT BookingId, CONCAT(GuestFirstName, ' ',GuestLastName) name FROM Bookings;"
cursor.execute(sql_query)
results1 = cursor.fetchall()
columns1 = cursor.column_names

df1 = pd.DataFrame(data=results1, columns=columns1)
df1.style.hide(axis='index')

In [26]:
# Put the connection back to the pool:
    
connection1.close()
print("The connection is placed back into the pool for the next user to connect.")

The connection is placed back into the pool for the next user to connect.